
body {
  color: black;


}

h1{
  text-align: center;
  font-size: xx-large;
}

li {
  border: 1px solid #747272;
  padding: 10px;
  border-radius: 3px;
}

h3 {
  font-size: 1rem;
  line-height: 1.4;
}

button{
justify-content: center;
}

body {
  margin: 0;
}

main {
  margin: 16px;
}

.navbar {
  display: flex;
  align-items: center;
  
  background: rebeccapurple;
  color: white;
  font-family: Helvetica;
  font-weight: 300;
}

.navbar__title {
  margin-right: auto;
  font-size: 150%;
  padding: 12px 16px;
}

.navbar__item {
  padding: 16px 26px;
  margin-left: 10%;
  cursor: pointer;
  align-items: center;
  /* vertical-align: middle; */
}